a:hover{
    color:cornflowerblue;
}
a{
    color: blue;
}
#Header1{
    font-size: 30px;
}
#Header1:hover{
    color: brown;
}

.Picture{
    border: 1px solid black;
    width: 1200px;
    margin: 10px;
    padding: 10px;
}